{% extends "base.html" %}
{% block title %}Ajouter un Examen{% endblock %}
{% block content %}
<div class="card">
    <h2>Ajouter un Nouvel Examen</h2>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.course.id_for_label }}">{{ form.course.label }}</label>
            {{ form.course }}
        </div>
        <div class="form-group">
            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
            {{ form.name }}
        </div>
        <div class="form-group">
            <label for="{{ form.exam_type.id_for_label }}">{{ form.exam_type.label }}</label>
            {{ form.exam_type }}
        </div>
        <div class="form-group">
            <label for="{{ form.date.id_for_label }}">{{ form.date.label }}</label>
            {{ form.date }}
        </div>
        <div class="form-group">
            <label for="{{ form.max_score.id_for_label }}">{{ form.max_score.label }}</label>
            {{ form.max_score }}
        </div>

        <button type="submit">Enregistrer</button>
    </form>

    <div style="margin-top: 20px;">
        <a href="{% url 'grades:course_list' %}" class="btn btn-muted">Retour</a>
    </div>
</div>
{% endblock %}
